<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="header">
			<h1>Developer Broadcasting Network <small>Mudkips</small></h1>
		</div>
		<div class="container">
			<div class="content">
				<%- body %>
			</div>
			<div class="sidebar-content">
				<div class="sidebar">
					<% include sidebars/streams %>
				</div>
				<div class="sidebar">
					<% include sidebars/static %>
				</div>
			</div>
		</div>
	</body>
</html>