<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="header">
			<h1>Developer Broadcasting Network <small>Mudkips</small></h1>
		</div>
		<div class="container">
			<% if(err) { %>
			<div>
				<%= err %>
			</div>
			<% } %>
			<div class="content">
				<%- body %>
			</div>
			<div class="sidebar-content">
				<div class="sidebar">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation"><a href="/">Home</a></li>
						<li role="presentation" class="active"><a href="/admin">Dashboard</a></li>
						<hr />
						<li role="presentation"><a href="/admin/post/add">Create Post</a></li>
						<li role="presentation"><a href="/admin/posts">Edit Post</a></li>
						<hr />
						<li role="presentation"><a href="/admin/page/add">Create Page</a></li>
						<li role="presentation"><a href="/admin/pages">Edit Page</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>