@font-face {
    font-family: 'novecentoSansWide';
    src: url('fonts/Novecentosanswide-Light-webfont.eot');
    src: url('fonts/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Light-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Light-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Light-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Light-webfont.svg#novecento_sans_widebook') format('svg');
    font-weight: lighter;
}
@font-face {
    font-family: 'novecentoSansWide';
    src: url('fonts/Novecentosanswide-Normal-webfont.eot');
    src: url('fonts/Novecentosanswide-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Normal-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Normal-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Normal-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'novecentoSansWide';
    src: url('fonts/Novecentosanswide-Bold-webfont.eot');
    src: url('fonts/Novecentosanswide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Bold-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Bold-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Bold-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold') format('svg');
    font-weight: bold;
}
@font-face {
    font-family: 'novecentoSansWide';
    src: url('fonts/Novecentosanswide-DemiBold-webfont.eot');
    src: url('fonts/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-DemiBold-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold') format('svg');
    font-weight: bolder;
}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: 'Montserrat', sans-serif;
	font-size:.9em;
	margin:0;
	padding:0;
	background:#666;
}
h1, h2, h3 {
	font-family: 'novecentoSansWide';
	font-weight:lighter;
	padding:0;
}
h1 {
	margin:12px 20px;
	font-weight: bolder;
}
h1 small {
	font-size:.7em;
}
h2 {
	margin:12px 15px;
	font-weight: bold;
}
h3 {
	margin:8px 15px;
	font-weight: normal;
}
h3 small {
	font-size:.7em;
}
.container {
	width:980px;
	padding:20px;
	margin:0 auto;
}
body .header {
	width:980px;
	margin:0 auto;
	color:#fff;
}
.container .content {
	float:left;
	width:700px;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
	background:#fff;
}
.container .sidebar {
	float:right;
	width:250px;
	background:#fff;
	margin-bottom:10px;
}
.post {
	display:inline-block;
	width:670px;
	margin:15px;
	margin-bottom:0;
	border-bottom:solid 1px #ddd;
}
.post div {
	float:left;
	margin-bottom:10px;
}
.post .info-column {
	width:80px;
}
.post .info-column .date {
  margin-right: 10px;
  width: 70px;
  background:#ccc;
}
.post .info-column .date span {
	display:block;
	text-align:center;
	line-height:22px;
}
.post .info-column .comments {
  margin-right: 10px;
  width: 70px;
  background:#ccc;
}
.post .info-column .comments span {
	display:block;
	text-align:center;
	line-height:22px;
}
.post .content-column {
	width:570px;
	border-left:solid 1px #ddd;
}
.post .content-column div {
	width:100%;
}
.post .content-column .header {

}
.post .content-column .body {
	margin:0 15px;
}
.post .content-column .footer {
	text-align:right;
}
.post .content-column .footer span {
	font-size:.8em;
	display:block;
	margin:10px 15px;
}

.sidebar ul {

}
.sidebar ul li {

}