<h3>Schedule</h3>
<ul>
	<li><a href="">Saturday 6pm - 9pm (Live Podcast)</a></li>
	<li><a href="">Saturday 3pm - 5pm (Shannon's CSGO)</a></li>
	<li><a href="">Sunday 3pm - 5pm (Mike's Emotional Fallout)</a></li>
</ul>